:root {
  --color-primary: #005ab6;
  --color-primary-light: #0077d9;
  --color-primary-lighter: #0092ff;
  --color-primary-dark: #003b7b;
  --color-primary-darker: #001f4d;

  --color-secondary: #eb8205;
  --color-secondary-light: #ff9c2f;
  --color-secondary-lighter: #ffb84f;
  --color-secondary-dark: #c56e00;
  --color-secondary-darker: #9b4b00;

  --color-gray: #6c757d;
  --color-gray-light: #acafb2;
  --color-gray-lighter: #dadada;
  --color-gray-dark: #495057;
  --color-gray-darker: #343a40;
  --color-text-primary: #1f1f1f;

  --dt-on-background: #1f1f1f;
  --dt-on-background-secondary: #5e5e5e;
  --dt-background: #fff;
  --dt-on-surface: #1f1f1f;
  --dt-inverse-surface: #303030;
  --dt-on-surface-secondary: #5e5e5e;
  --dt-on-surface-variant: #444746;
  --dt-surface-variant: #E1E3E1;
  --dt-inverse-on-surface: #f2f2f2;
  --dt-surface: #fff;
  --dt-surface-tint: #6991d6;
  --dt-surface1: #f7f9fc;
  --dt-surface1-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --dt-surface2: #f2f6fc;
  --dt-surface2-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --dt-surface3: #edf2fc;
  --dt-surface3-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --dt-surface4: #e8effb;
  --dt-surface4-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --dt-surface5: #e2ecfb;
  --dt-surface5-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --dt-shadow-elevation-1: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --dt-shadow-elevation-2: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --dt-shadow-elevation-3: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --dt-shadow-elevation-4: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --dt-shadow-elevation-5: 0px 8px 10px -6px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --dt-surface-container-lowest: #fff;
  --dt-surface-container-low: #F8FAFD;
  --dt-surface-container: #F0F4F9;
  --dt-surface-container-high: #E9EEF6;
  --dt-surface-container-highest: #DDE3EA;
  --dt-surface-dim: #D3DBE5;
  --dt-surface-bright: #fff;
  --dt-scrim: rgba(0, 0, 0, 0.32);
  --dt-scrim-2x: rgba(0, 0, 0, 0.64);
  --dt-on-primary-container: #041e49;
  --dt-primary-container-icon: #041e49;
  --dt-primary-container-link: #041e49;
  --dt-primary: #0b57d0;
  --dt-primary-action: #0b57d0;
  --dt-primary-action-stateful: #0b57d0;
  --dt-primary-outline: #0b57d0;
  --dt-primary-action-state-layer: #0b57d0;
  --dt-primary-container: #d3e3fd;
  --dt-on-primary: #fff;
  --dt-primary-icon: #fff;
  --dt-primary-link: #fff;
  --dt-on-secondary-container: #001d35;
  --dt-secondary-container-icon: #001d35;
  --dt-secondary-container-link: #001d35;

  --dt-body-small-spacing: 0.0083333333em;
  --dt-corner-banner: 0.5rem;
  --dt-corner-button: 6.25rem;
  --dt-corner-card: 0.75rem;
  --dt-corner-card-thumbnail: 0.25rem;
  --dt-corner-chip: 0.5rem;
  --dt-corner-chip-avatar: 6.25rem;
  --dt-corner-chip-suggestive: 0.5rem;
  --dt-corner-dialog: 0.5rem;
  --dt-corner-dialog-anchored: 0.5rem;
  --dt-corner-fab: 1rem;
  --dt-corner-fab-large: 1.75rem;
  --dt-corner-field: 0.25rem;
  --dt-corner-field-filled: 0.25rem 0.25rem 0 0;
  --dt-corner-field-search: 0.25rem;
  --dt-corner-icon-button: 6.25rem;
  --dt-corner-landmark: 1rem;
  --dt-corner-menu: 0.25rem;
  --dt-corner-mole: 1rem;
  --dt-corner-nav-drawer: 6.25rem;
  --dt-corner-region: 0.75rem;
  --dt-corner-tile: 1rem;
  scrollbar-width: 8px;
  scrollbar-color: var(--dt-outline-variant, rgb(218, 220, 224)) transparent;
 
 
  --el-menu-item-height: 32px; 
}
