@import "./variables";
@import "./custom";

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-text-primary);
}
